.social-proof {
	width: 90%;
	max-width: 20.438rem;
	margin: 5.125rem auto;
	display: grid;
	grid-template-areas: 
	"heading"
	"copy"
	"ratings"
	"testimonials";
	
	@media (min-width: 64rem) {
		max-width: 69.375rem;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"heading 				ratings"
			"copy 					ratings"
			"testimonials 	testimonials";
	}
	
	.social-proof__heading {
		grid-area: heading;
		margin: 0 0 1rem;
		max-width: 445px;

		@media (min-width: 64rem) {
			margin: 0;
		}
	}
	
	.social-proof__copy {
		grid-area: copy;
		margin: 0 0 2.5rem;
		max-width: 445px;

		@media (min-width: 64rem) {
			margin: 0;
		}
	}
	
	.social-proof__ratings {
		grid-area: ratings;
		display: grid;
		gap: 1rem;
		margin: 0 0 3.125rem;
		padding: 0;
		
		@media (min-width: 64rem) {
			margin: 0;

			& > :nth-child(2) {
				margin-left: 3rem;
			}

			& > :nth-child(3) {
				margin-left: 6rem;
			}
		}
	}
	
	.social-proof__testimonials {
		display: grid;
		grid-area: testimonials;
		gap: 1rem;

		@media (min-width: 64rem) {
			margin-top: 4.5rem;
			gap: 1.875rem;
			grid-template-columns: 1fr 1fr 1fr;
	
			& > :nth-child(2) {
				margin-top: 1rem;
			}
	
			& > :nth-child(3) {
				margin-top: 2rem;
			}
		}
	}

	.social-proof__heading--type {
		color: var(--cl-main-500);
		font: var(--ty-heading);
		letter-spacing: var(--le-600);
		text-align: center;
	
		@media (min-width: 64rem) {
			text-align: initial;
		}
	}
	
	.social-proof__copy--type {
		color: var(--cl-main-400);
		font: var(--ty-copy);
		letter-spacing: var(--le-300);
		text-align: center;
	
		@media (min-width: 64rem) {
			text-align: initial;
		}
	}
}